@model Subastas.Models.Propuesta

@{
    ViewData["Title"] = "Crear Propuesta";
}

<h1>Crear Propuesta</h1>

<h4>Propuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="UsuarioID" class="form-control" value='@ViewData["IdUser"]' type = "hidden"/>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="SubastaID" class="form-control" value='@ViewBag.Pyme' type = "hidden"/>
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Título de la Subasta</label>
                <br>
                <label  class="control-label">@ViewBag.TituloSubasta</label>
            </div>
            <div class="form-group">
                <label  class="control-label">Descripción de la Subasta</label>
                <br>
                <label  class="control-label">@ViewBag.DescripcionSubasta</label>
            </div>
            <div class="form-group">
                <label class="control-label">Título de la Propuesta</label>
                <input asp-for="TituloPropuesta" class="form-control" />
                <span asp-validation-for="TituloPropuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
               <input asp-for="Status" class="form-control" type="hidden" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">                <input asp-for="Grade" class="form-control" type="hidden"/>
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Regresar a tus propuestas", "Index",new { usuario=ViewData["IdUser"] } ) |

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
