@model IEnumerable<Subastas.Models.Propuesta>

@{
    ViewData["Title"] = "Propuestas";
}

<h1>Tus Propuestas</h1>

<p>
    <a asp-action="Create">Crear Propuesta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título de la Propuesta
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estatus
            </th>
            <th>
                Calificación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloPropuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Subasta", "Details", new { id=item.ID }) |
                @Html.ActionLink("Eliminar Propuesta", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
