@model IEnumerable<Subastas.Models.Propuesta>

@{
    ViewData["Title"] = "Propuestas";
}
@if (ViewBag.Message != null)
{
    <h1>Bienvenido, @ViewBag.Message</h1>
}

<h2>Tus Propuestas</h1>

<p>
    <a asp-action="Create">Crear Propuesta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Título de la Propuesta
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estatus
            </th>
            <th>
                Calificación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TituloPropuesta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @{
                        if (item.Status == "A")
                        {
                            <label>Aceptada</label>
                        }
                        else if (item.Status == "R")
                        {
                            <label>Rechazado</label>
                        }
                        else if (item.Status == "I")
                        {
                            <label>Interesado</label>
                        }
                        else
                        {
                            <label>Sin Revisar</label>
                        }
                    }            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Subasta", "Details", new { id=item.ID }) |
                @Html.ActionLink("Eliminar Propuesta", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
