@model Subastas.Models.Propuesta

@{
    ViewData["Title"] = "DetailsPropuestas";
}

<h1>DetailsPropuestas</h1>

<div>
    <h4>Propuesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Consulturía
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Consultoria
        </dd>
        <dt class = "col-sm-2">
            Título de la Propuesta
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloPropuesta)
        </dd>
        <dt class = "col-sm-2">
            Descripción
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Estatus
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Status == "A")
            {
                <label>Aceptada</label>
            }
            else if (Model.Status == "R")
            {
                <label>Rechazada</label>
            }
            else if (Model.Status == "I")
            {
                <label>Interesado</label>
            }
            else if (Model.Status == "S")
            {
                <label>Sin Revisar</label>
            }
            else
            {
                <label>Terminada</label>
            }
                    </dd>
        <dt class = "col-sm-2">
            Calificación
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Calificacion
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Regresar a Subastas", "Index", new { usuario=ViewBag.PyME  }) |
</div>