@model IEnumerable<Subastas.Models.Subasta>

@{
    ViewData["Title"] = "Subastas";
}

@if (ViewBag.Message != null)
{
        <h1>Bienvenido, @ViewBag.Message</h1>
}
<h2>Tus Subastas</h2>

<p>
    @Html.ActionLink("Crear Subasta", "Create", new { subasta_=Model.FirstOrDefault().ID}) | 
    @Html.ActionLink("Ver Propuestas Disponibles", "IndexPropuestas", new { PyME = ViewBag.PyME }) |
    @Html.ActionLink("Ver Propuestas Aceptadas", "IndexPropuestasAcep", new { PyME = ViewBag.PyME }) |
    @Html.ActionLink("Ver Propuestas Terminadas", "IndexPropuestaTer", new { PyME = ViewBag.PyME }) |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre del Proyecto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Calificación
            </th>
            <th>
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @{
                    if(item.Status == "C")
                    {
                        <label>En Curso</label>
                    }
                    else if(item.Status == "T")
                    {
                        <label>Terminado</label>
                    }
                    else
                    {
                        <label>Seleccionada</label>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID  }) |
                @Html.ActionLink("Propuestas", "Details", new { id=item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
