@model IEnumerable<Subastas.Models.Subasta>

@{
    ViewData["Title"] = "Subastas";
}

<h1>Tus Subastas</h1>

<p>
    <a asp-action="Create">Crear Subasta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioID)
            </th>
            <th>
                Nombre del Proyecto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Calificación
            </th>
            <th>
                Estatus
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @{
                    if(item.Status == "C")
                    {
                        <label>En Curso</label>
                    }
                    else if(item.Status == "T")
                    {
                        <label>Terminado</label>
                    }
                    else
                    {
                        <label>Seleccionada</label>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID  }) |
                @Html.ActionLink("Propuestas", "Details", new { id=item.ID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
