@model Subastas.Models.Usuario

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1>Eliminar Usuario</h1>

<h3>¿Estás seguro de querer eliminar el usuario?</h3>
<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Rol</label>
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.RolID == 1)
                {
                    <label>Administrador</label>
                }
                else if (Model.RolID == 2)
                {
                    <label>PyME</label>
                }
                else
                {
                    <label>Consultoría</label>
                }
            }
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Usuario</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TagUsuario)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Nombre</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RFC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RFC)
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Descripción</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a Listado de Usuarios</a>
    </form>
</div>
